@model PricingRule
@{
    ViewData["Title"] = "EditPricingRule";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <div class="card-header">
                <h3 class="text-center font-weight-light my-4">Edit Pricing Rule</h3>
            </div>
            <div class="card-body">
                <form method="post">
                    <input type="hidden" asp-for="RuleId"/>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-floating mb-3 mb-md-0">
                                <select asp-for="ClassId" asp-items="@ViewBag.Classes" class="form-select mt-2">
                                    <option>Select a Class</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating mb-3 mb-md-0">
                                <input class="form-control mt-2" type="number" placeholder="Enter MinDaysBefore" asp-for="MinDaysBefore" />
                                <label asp-for="MinDaysBefore">Min Days Before</label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating mb-3 mb-md-0">
                                <input class="form-control mt-2" type="number" placeholder="Enter MaxDaysBefore" asp-for="MaxDaysBefore" />
                                <label asp-for="MaxDaysBefore">Max Days Before</label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating mb-3 mb-md-0">
                                <input class="form-control mt-2" type="number" placeholder="Enter MaxDaysBefore" asp-for="PriceMultiplier" step="0.01" min="0.1" max="3" />
                                <label asp-for="PriceMultiplier">Price Multiplier</label>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 mb-0">
                        <div class="d-grid"><button type="submit" class="btn btn-primary btn-block">Edit Pricing Rule</button></div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
